<!-- Modal -->
<div class="modal fade" id="confirm-delete-{{id}}" tabindex="-1" aria-labelledby="confirm-delete-{{id}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirm-delete-{{id}}">Apagar {{nome}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja apagar {{nome}}? <br>Não é possível recuperar.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a href="/excluir/{{id}}" class="btn btn-outline-danger">Apagar</a>
      </div>
    </div>
  </div>
</div>