<div class="container">
    {{> nav}}

    <div class="row">
        <div class="col bg-white rounded">
            {{#if success}}
                {{> message_success}}
            {{/if}}

            {{#if danger}}
                {{> message_danger}}
            {{/if}}

            <p class="text-start fs-5">Consultar - Agendamento de Potenciais Clientes</p>
            <p>
                <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Origem</th>
                        <th scope="col">Contato</th>
                        <th scope="col">Observação</th>
                        <th scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each agendamentos}}
                        <tr>
                            <td>{{nome}}</td>
                            <td>{{telefone}}</td>
                            <td>{{origem}}</td>
                            <td>{{formatarData data_contato}}</td>
                            <td>{{observacao}}</td>
                            <td>
                                <a class="btn btn-outline-primary" href="/editar/{{id}}">Editar</a>
                                <button data-bs-toggle="modal" data-bs-target="#confirm-delete-{{id}}" class="btn btn-outline-danger" href="/editar/{{id}}">Apagar</button>
                            </td>
                        </tr>
                    {{/each}}
                    <tr>
                </tbody>
            </table>
            </p>
        </div>
    </div>
</div>

{{#each agendamentos}}
    {{> modal_confirm_delete}}
{{/each}}